<style>
    .container{
        background-color: rgb(43, 42, 40);
        height: 70px;
        margin-top: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container a{
        color: aliceblue;
        margin: 20px;
        font-size: 30px;
    }
</style>
<footer>
    <div class="container">
        <a href="https://www.facebook.com/profile.php?id=100064424874157" target="_blank"><i class="fa fa-facebook"></i></a>
        <a   a href="tel:0886763612" target="_blank"><i class="fa fa-phone"></i></a>
    </div>
</footer>